.hoversp {
    background-color: transparent;
    border-radius: 10px;
    transition: all 0.3s ease; /* Hiệu ứng chuyển đổi trong 0.3s */
  }
  
  .hoversp:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.05); /* Phóng to button khi hover */
  }